
<footer class="container-fluid footer-container">

    <div class="sociais">
        <p>Faça parte do clã Game Mania, receba notícias e promoções!</p>
        <form action="">
            <input id="campo-email" type="email" placeholder="E-mail" required>
            <button onclick="cadastrarNewsletter()">Cadastrar</button>
        </form>
    </div>

    <div>
        <a href="index.html" class="logo-footer"><img src="/assets/img/logo.svg" alt="Logo"></a>
    </div>

    <div style="float:left">
        <h2> Links úteis</h2>
    <ul> 
        <li><a href="index.html" style="text-decoration:none; color: aliceblue;">Contato</a></li>
        <li><a href="index.html" style="text-decoration:none; color: aliceblue;">Suporte</a></li>
        <li><a href="index.html" style="text-decoration:none; color: aliceblue;">Central de ajuda</a></li>
        <li><a href="index.html" style="text-decoration:none; color: aliceblue;">Localização</a></li>
    </ul>

    </div>  

   
    <div style="float:right">
       <h2>Páginas</h2>
       <ul>
        <li><a href="index.html" style="text-decoration:none; color: aliceblue;" >Facebook</a></li>
        <li><a href="index.html" style="text-decoration:none; color: aliceblue;">Instagran</a></li>
        <li><a href="index.html" style="text-decoration:none; color: aliceblue;">Twitter</a></li>
       </ul>

    </div>

</footer>
