<header class="container-fluid">
    <div class="container container-fluid">
        <a href="index.html"><img src="/assets/img/logo.svg" alt="logo do site Eplayers" class="logo"></a>
        <nav id="menu" class="menu container-fluid">
            <a href="index.html">início</a>
            <a href="index.html">departamentos</a>
            <a href="index.html">destaques</a>
            <a href="index.html">mais procurados</a>
            <a href="index.html">mais vendidos</a>
            <a href="index.html">pc gamer</a>
            <a href="index.html">hardware</a>
            <a href="index.html">smartphones</a>
            <a routerLink="/login"><img src="/assets/img/loginicon.svg" alt="login" class="loginIcon"></a>
        </nav>

        <a href="#" id="barras" onclick="mostrarMenu()"><img class="icone-menu" src="/assets/img/bars.svg" alt="ícone do menu de barras" ></a>

    </div> 

</header>
